body {
    background-image: url("../imgs/img_fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-bottom: 2rem;
    min-height: 100vh;
}