@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

$mainFont: 'Poppins', sans-serif;

$mainColor: rgb(240, 214, 167);

$secondaryColor: rgb(172, 112, 34); 

