@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* ::-moz-selection {
  background-color: rgb(172, 112, 34);
  color: black;
}
* ::selection {
  background-color: rgb(172, 112, 34);
  color: black;
}

.header .navbar,
.card2 {
  background-color: transparent !important;
}

header .nav-item a:hover {
  font-style: bolder;
  transform: scale(1.1);
}
header .nav-item a:hover > .nav-link {
  color: black;
}

.titulo2 {
  font-weight: 700;
  color: aliceblue;
}

.card {
  background-color: rgb(240, 214, 167);
}
.card .cardImg {
  -o-object-fit: fill;
     object-fit: fill;
}

body {
  background-image: url("../imgs/img_fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 100vh;
}

.contenedorGaleria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  padding: 20px;
  grid-gap: 10px;
  overflow: hidden;
}
.contenedorGaleria .item-galeria {
  grid-row-start: span 3;
  width: 100%;
  height: 100%;
  position: relative;
}
.contenedorGaleria .item-galeria .clase-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.contenedorGaleria .item-galeria .titulo-img {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 40%;
  bottom: 0;
  translate: -50%, -50%;
  font-size: 1rem;
  text-shadow: 0 0 15px rgb(0, 0, 0);
}
.contenedorGaleria .item-galeria:nth-child(1) {
  grid-column-start: span 2;
}
.contenedorGaleria .item-galeria:nth-child(3) {
  grid-row-start: span 6;
}
.contenedorGaleria .item-galeria:nth-child(5) {
  grid-row-start: span 5;
}
.contenedorGaleria .item-galeria:nth-child(6) {
  grid-row-start: span 4;
}
.contenedorGaleria .item-galeria:nth-child(7) {
  grid-row-start: span 6;
}
.contenedorGaleria .item-galeria:nth-child(8) {
  grid-row-start: span 5;
}

.ingredientesPpal {
  color: white;
  text-align: justify;
  padding-bottom: 1rem;
}
.ingredientesPpal .cartitaIngredientes {
  margin: 15px;
  border: 2px outset black;
  border-radius: 5px;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes {
  padding: 15px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes .tituloIngredientes {
  font-style: bolder;
  color: black;
  font-size: 30px;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes1 {
  animation-delay: 0.6s;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes2 {
  animation-delay: 1.2s;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes3 {
  animation-delay: 1.8s;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes4 {
  animation-delay: 2.4s;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes5 {
  animation-delay: 3s;
}
.ingredientesPpal .cartitaIngredientes .cuerpoIngredientes6 {
  animation-delay: 3.6s;
}

.containerSalsas {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "funghi      napolitana  arrabbiata" "puttanesca  carbonara   amatriciana" "pesto       bolognesa   alfredo";
}
.containerSalsas .funghi {
  grid-area: funghi;
}
.containerSalsas .puttanesca {
  grid-area: puttanesca;
}
.containerSalsas .pesto {
  grid-area: pesto;
}
.containerSalsas .napolitana {
  grid-area: napolitana;
}
.containerSalsas .carbonara {
  grid-area: carbonara;
}
.containerSalsas .bolognesa {
  grid-area: bolognesa;
}
.containerSalsas .arrabbiata {
  grid-area: arrabbiata;
}
.containerSalsas .amatriciana {
  grid-area: amatriciana;
}
.containerSalsas .alfredo {
  grid-area: alfredo;
}
.containerSalsas .cardSalsa {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 5px;
  border: 5px 5% black;
  box-shadow: 0 1px 2px 1px;
  color: white;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.containerSalsas .cardSalsa .tituloSalsas {
  padding: 10px;
  justify-content: center;
  margin: 5px;
  font-style: bolder;
  font-weight: 700;
}
.containerSalsas .cardSalsa .textoSalsas {
  padding: 5px;
  margin: 5px;
  justify-content: center;
}

.contenedorFormulario {
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorFormulario .contenedorForm {
  max-width: 100%;
  border: 0.5px inset black;
  border-radius: 20px;
  text-align: center;
  margin: 0.2rem;
  padding: 1rem;
  font-weight: 500;
  color: black;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(250, 219, 133, 0) 0%, rgb(244, 207, 70) 31%, rgba(162, 157, 117, 0.8603641286) 75%, rgba(255, 251, 218, 0.3421568456) 100%, rgb(5, 5, 5) 100%);
}
.contenedorFormulario .contenedorForm .formSalsa .salsa {
  text-align: center;
}
.contenedorFormulario .formFinal {
  border: none;
  background: none;
  margin: -0.7rem;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding-block: 1rem;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.d-flex {
  min-height: 40px;
  margin-top: 2%;
}
.d-flex .iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  color: rgb(211, 141, 179);
}
.d-flex .iconos-redes-sociales a:hover {
  background-color: #f1dcf1;
  border: 2px solid rgb(70, 15, 15);
}
.d-flex .iconos-redes-sociales a:hover i {
  color: rgb(196, 64, 156);
}
.d-flex .iconos-redes-sociales a i {
  color: rgb(196, 64, 156);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.footerAll {
  width: 100%;
  text-align: center;
  padding: 5px;
}
.footerAll a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  align-self: center;
  justify-self: center;
  align-items: bottom;
}
.footerAll a:hover {
  font-weight: 700;
  font-style: bolder;
  font-size: 20px;
}

.container > div {
  display: grid;
  place-items: center;
}

/* MEDIA QUERIES DE SALSAS */
@media screen and (max-width: 768px) {
  .containerSalsas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "funghi     napolitana" "arrabbiata puttanesca" "carbonara  amatriciana" "pesto      bolognesa" "alfredo    .........";
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .containerSalsas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerSalsas > * {
    flex: 1;
  }
  .logo {
    flex: 1.5;
  }
}
@media (min-width: 576px) {
  .contenedorGaleria {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 760px) {
  .contenedorGaleria {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=estilo.css.map */